<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<div class="resume">
  <div class="func">
      <div class="skills-soft">
          <div class="textc">
              <h1 class="text-center"> <i class="fa fa-briefcase"></i>  Msd Telematics</h1>

          </div>

          <p></p>

          <p>This Is basically a webapp in which we have to Maintain the record of various accounts of
              the Excise Department of bihar and UP government. The Main Code Part of the project is
              done in spring core language. Some new functionalities were added by using Springboot
              Module . We Have also Used Erlang in this project to deal with Real Time socket Data . We
              have also used Kafka as a messaging service .</p>

          <p>In this project, the main technologies used by us are basically Springboot,rest API's , MYSQL , Erlang,Kafka, Redis and Spring Core.
              There were two servers in the deployment of the project . The first one is development server and the other one is production server .
              These servers were maintained by devops team but all the work regarding production was done by backend developers only.</p>


          <p>There was also a provision of sending alerts. Then only the main role of kafka , erlang and redis comes into play.
              ERlang is used maintain the sockets and these sockets are fitted as devices into the vehicles .
              All the data from these sockets is maintained by erlang only . The storage of this data is been done in redis database.
              All the dynamic  data ais been stored in redis database and all the static data is been stored in MYSQL dtabase.
          </p>

          <p>All the task of sending and creating the alerts is been maintained by kafka engine .
              All the code of this kafka engine is been done in spring core as a moderator.</p>

          <div ><a class="textc" href="https://mailto:manikbatra48@@gmail.com"><i class="fas fa-envelope"></i><span>manikbatra48@gmail.com</span></a>
              <p>For Any Details And Querry ABout the project ,Just click on the above mail link</p>
          </div>
      </div>



  </div>


</div>
</body>